.about {
    margin: 50px 100px;
}

.about>h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 2.2rem;
}

.about p {
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    max-width: 60rem;
    margin: auto;
}

.our-beliefs {
    background-color: #f1f7f7;
    margin: 100px 0;
    padding: 20px;
    border-radius: 20px;
}

.title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 1.8rem;
}

.beliefs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
    margin: 0 50px 50px;
}

.card-beliefs {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    transition: 0.7s ease;
    background-color: #ffffff;
}

.card-beliefs img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

.card-beliefs h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.card-beliefs p {
    font-size: 16px;
}

.card-beliefs:hover {
    transition: 0.7s ease;
    background-color: #ddeae9;
}

@media (max-width:768px) {
    .about {
        margin: 50px 20px;
    }

    .about>h1 {
        font-weight: 500;
        margin-bottom: 40px;
        font-size: 1.8rem;
    }

    .about p {
        font-size: 14px;
        line-height: 24px;
    }

    .beliefs {
        display: block;
        margin: 0 10px 50px;
    }

    .title {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .beliefs .card-beliefs {
        margin-bottom: 20px;
        position: relative;
    }

    .card-beliefs img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .card-beliefs h3 {
        font-size: 16px;
        margin: 0 0 10px 50px;
    }

    .card-beliefs .margin-last-item {
        margin-bottom: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .about {
        margin: 50px 50px;
    }
}


.box-info {
    background-color: #f1f7f7;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 15px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.card-info img {
    width: 40px;
}

.card-info div:first-child {
    background-color: #ffffff;
    margin-right: 20px;
    padding: 18px;
    border-radius: 8px;
}

.text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-info span:first-child {
    font-size: 1.8rem;
    color: #419B93;
    font-weight: 500;
}

.text-info span:last-child {
    font-size: 1.2rem;
    color: #6F6F6F;
}

@media (max-width:768px) {
    .box-info {
        flex-wrap: wrap;
        justify-content: start;
    }

    .card-info img {
        width: 35px;
    }

    .text-info span:first-child {
        font-size: 1.5rem;
    }

    .text-info span:last-child {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .card-info img {
        width: 35px;
    }

    .text-info span:first-child {
        font-size: 1.5rem;
    }

    .text-info span:last-child {
        font-size: 1rem;
    }
}

/* ---------*** timeline ***--------- */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    padding: 10px 0;
    position: relative;
    width: 50%;
}

.text-box {
    padding: 20px 30px;
    background: #f1f7f7;
    border-radius: 6px;
    font-size: 15px;
}

.text-box h3 {
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 15px;
}

.text-box p {
    display: inline-block;
    font-size: 16px;
}


.left-container {
    padding-right: 50px;
    left: 0;
}

.right-container {
    padding-left: 50px;
    left: 50%;
}

.container>div:first-child {
    position: absolute;
    width: 50px;
    border-radius: 8px;
    right: -20px;
    top: 29px;
    z-index: 10;
    background-color: #f1f7f7;
    padding: 5px;
    text-align: center;
}

.right-container>div:first-child {
    left: -20px;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #f1f7f7;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.box-history {
    display: flex;
    justify-content: center;
}

.box-history div {
    background-color: #f1f7f7;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.start {
    margin-bottom: 50px;
}

.end {
    margin-top: 50px;
}


.container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.left-container-arrow {
    border-left: 15px solid #f1f7f7;
    right: 36px;
}

.right-container-arrow {
    border-right: 15px solid #f1f7f7;
    left: 36px;
}

@media (max-width:768px) {
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 28px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 0;
    }

    .text-box {
        font-size: 13px;
        padding: 20px;
    }

    .right-container {
        left: 0;
    }

    .right-container>div:first-child,
    .left-container>div:first-child {
        left: 0px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #f1f7f7;
        border-left: 0;
        left: 56px;
    }

    .box-history {
        display: flex;
        justify-content: start;
    }

    .box-history div {
        padding: 20px;
        font-size: 17px;
    }

    .text-box p {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-box {
        padding: 20px;
    }

    .text-box p {
        font-size: 14px;
        line-height: 25px;
    }
}