.sign-in-up {
    margin: 50px 100px 100px;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 70px;
}

.title span {
    color: #409b95;
}

.sub-title {
    font-size: 1rem;
    margin-bottom: 50px;
}

.center-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.checkbox-forgot {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

form {
    min-width: 100%
}

form>input {
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f1f7f7;
    margin: auto;
    margin-bottom: 25px;
}

input[type=submit] {
    width: 200px;
    background-color: #409B95;
    color: #ffffff;
    margin: 20px 0 20px;

}

::placeholder {
    padding: 20px;
    font-weight: 500;
}

.change-to-login {
    font-size: 14px;
    margin-bottom: 30px;
}

.change-to-login a {
    color: #409B95;
}

.sign-up-another-way {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.sign-up-another-way div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 2px solid #eff0f2;
    padding: 5px 10px;
    border-radius: 10px;

}

.sign-up-another-way img {
    width: 30px;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .sign-in-up {
        margin: 50px 20px 50px;
    }

    .checkbox-forgot {
        width: 100%;
        max-width: 400px;
    }

    form>input {

        width: 100%;
        max-width: 400px;
    }
    input[type=submit] {
        width: 50%;
        max-width:200px;

    }
    .sign-up-another-way {
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }
    .sign-up-another-way div {
        margin-bottom: 10px;
    
    }
}